venv/
__pycache__/
*.pyc
.env
*.log
.DS_Store

*.backup
*_files.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Additional Python
*.pyo
env/

# Additional OS
Thumbs.db
